[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
django = "*"
dj-database-url = "*"
pytelegrambotapi = "*"
psycopg2-binary = "*"
pydantic = "*"

[dev-packages]
ipdb = "*"
pytest-django = "*"
mock = "*"
pytest = "*"

[requires]
python_version = "3.8"
